.dropdown{
  background-color: green;
  color: white;
}
.dropdown-content{
  background-color: green;
  color: white;
  border: 5;
  width: 50%;
}
.dropdown option:hover, .dropdown option:focus, .dropdown option:active{
  background-color: black;
  color: green;
}
